<%- include("partials/header")%>
    <!-- container -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8">
          <table class="table table-hover table-striped bg-success">
            <thead>
              <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Lastname</td>
                <td>Email</td>
                <td>Address</td>
                <td>Phone</td>
                <!-- <td>Create date</td> -->
                <td>Actions</td>
              </tr>
            </thead>
            <tbody>
             <% for (let i=0; i<data.length; i++) {%>
                <tr>
                    <td> <%= data[i].id_customer %></td>
                    <td> <%= data[i].name %></td>
                    <td> <%= data[i].lastname %></td>
                    <td> <%= data[i].email %></td>
                    <td> <%= data[i].address %></td>
                    <td> <%= data[i].phone %></td>
                    <!-- <td> <%= data[i].create_date %></td> -->
                    <td> 
                        <a href="/delete/<%= data[i].id_customer %>" class="btn btn-danger btn-sm">Delete</a>
                        <a href="/update/<%= data[i].id_customer %>" class="btn btn-warning btn-sm">Update</a>
                    </td>
                </tr>    
            <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header bg-primary">
              <h5 class="text-center">Register</h5>
            </div>
            <div class="card-body">
              <form action="/save" method="post">
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Name"
                    class="form-control"
                    autofocus
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="lastname"
                    id="lastname"
                    placeholder="Lastname"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="address"
                    id="address"
                    placeholder="Address"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="number"
                    name="phone"
                    id="phone"
                    placeholder="Phone"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="submit"
                    value="Save"
                    class="btn btn-primary btn-block"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

<%- include("partials/footer") %>